@using PHR.ViewModels.Dashboard
@model PHR.Services.CommonFunctions.PagedList<CompanyMasterViewModel>
@{

}

<table id="companyMasterTable" class="table table-border table-bordered table-sm " cellspacing="0" width="100%">
    <thead class="bg-primary text-center">
        <tr>
            <th scope="col" class="table-header">Company Name</th>
            <th scope="col" class="table-header">Status</th>
            <th scope="col" class="table-header">Actions</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @if (Model.List.Count>0)
        {
            @foreach (var company in Model.List)
            {
                string status = company.IsCompanyActive ? "Active" : "In-Active";
                <tr>
                    <td scope="row">@company.CompanyName</td>
                    @if (company.IsCompanyActive)
                    {
                        <td scope="row" class="align-items-center">
                            <div class="">
                                <span class="badge bg-success rounded">@status</span>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td scope="row" class="align-items-center">
                            <div class="text-center">
                                <span class="badge bg-danger rounded">@status</span>
                            </div>
                        </td>
                    }

                    <td scope="row">
                        <label class="switch">
                            @{
                                string switchStatus = company.IsCompanyActive ? "De-Activate" : "Activate";
                                string checkValue = company.IsCompanyActive == true ? "checked" : "";
                            }
                            <input type="checkbox" id="@company.CompanyName-@company.CompanyId" name="@company.CompanyName-@company.CompanyId" @checkValue onclick="activateDeactivateCompany(@company.CompanyId)">
                            <span title="@switchStatus" class="slider round"></span>
                        </label>
                        <a title="Edit" id="edit-@company.CompanyId" onclick="editCompany(@company.CompanyId)"><i style="cursor:pointer;" class="fa fa-edit"></i></a>
                        <a title="Delete" id="delete-@company.CompanyId" onclick="deleteCompany(@company.CompanyId)"><i style="color:red;cursor:pointer; width:50px;" class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="3">No records found</td></tr>
        }
    </tbody>
</table>
<nav>

    @{
        string previousBtnStatus = Model.HasPreviousPage == true ? "" : "disabled";
        string nextBtnStatus = Model.HasNextPage == true ? "" : "disabled";
        string cursorPrev = previousBtnStatus == "disabled" ? "no-drop" : "pointer";
        string cursorNext = nextBtnStatus == "disabled" ? "no-drop" : "pointer";
    }

    <ul class="pagination" style="float:right;margin-top:-12px !important">
        <li id="previousBtn" class="page-item">
            <button class="page-link" @previousBtnStatus onclick="getCompanyList(@Model.PreviousPageNumber,@Model.PageSize)" tabindex="-1" style="cursor:@cursorPrev">Previous</button>
        </li>
        <li id="nextBtn" class="page-item">
            <button class="page-link" @nextBtnStatus onclick="getCompanyList(@Model.NextPageNumber,@Model.PageSize)" style="cursor:@cursorNext">Next</button>
            <input type="hidden" id="currentPageNo" value="@Model.PageNumber" />
        </li>
    </ul>
    <p style="float:left; margin-top:-5px;">Showing @Model.List.Count of @Model.TotalItems records</p>
</nav>